<div class="center-container">
    <h1>Product List</h1>
  </div>
<div>
    <app-product-search></app-product-search>
</div>
<div class="form-group">
    <button type="submit" class="update-button" (click)="addProduct()"
     >Add Product</button>
  </div>
<p-toast position="bottom-right" key="br"></p-toast>
<div style="padding-top: 10px;">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr  appHighlight="lightblue">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <div class="card">
                        <div style="height: 50px; position: relative;" class="speeddial-delay-demo">
                            <p-speedDial [model]="items" direction="left" [transitionDelay]="80" showIcon="pi pi-bars"
                                hideIcon="pi pi-times" buttonClassName="p-button-outlined"
                                (click)="onRowClick(product.id)"></p-speedDial>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>